{{ 'component-list-social.css' |  asset_url |  stylesheet_tag }}
{{ 'section-footer-new.css' |  asset_url |  stylesheet_tag }}

<style>

  @font-face {
    font-family: 'Avenir Regular';
    src: url('{{'avenir-regular.woff2' |  asset_url}}');
  }

  @font-face {
    font-family: 'Lato Regular';
    src: url('{{'lato-medium.woff2' |  asset_url}}');
  }

</style>

<footer class="footer color-{{ section.settings.color_scheme }}">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif
  -%}
  <div class="footer__container">
    {% for block in section.blocks %} 
      {% case block.type %}
        {% when 'brand_information' %}
          <div class="footer__brand-info">
            <img src="{{ block.settings.brand_logo |  img_url: 'medium' }}" class="footer__brand-logo">
            {% if block.settings.contact_no != blank %}
            <div class="footer__contact"><span>{%  render 'icon-phone' %}</span> {{ block.settings.contact_no }} </div>
            {% endif %}
            {% if block.settings.email != blank %}
              <div class="footer__email"><span>{% render 'icon-email' %}</span> {{ block.settings.email }}</div>
            {% endif %}
          </div>
        {% when 'footer_menu' %}
          <div class="footer__menu-wrapper">
            <ul class="footer-menu__list-container">
              {% for link in block.settings.footer_menu.links %}
                <li class="footer-menu__link">
                  <a href="{{ link.url }}"> {{ link.title }} </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% when 'terms_and_social' %}
          <div class="footer__terms_and_social__wrapper">
            <a href="{{ block.settings.text_url }}"> {{ block.settings.text }} </a>
          </div>
          {%- if block.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {% endif %}
      {% endcase %}
    {% endfor %}
  </div>

</footer>

{%  schema  %} 
  {
    "name": "Footer",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }
    ], "blocks": [
      {
        "type": "brand_information",
        "name": "Brand Information",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand_logo",
            "label": "Brand Logo"
          },
          {
            "type": "text",
            "id": "contact_no",
            "label": "Contact No",
            "default": "000"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "Email"
          }
        ]
      },
      {
        "type": "footer_menu",
        "name": "Footer Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Footer Menu"
          }
        ]
      },
      {
        "type": "terms_and_social",
        "name": "T&C And Social",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "text"
          },
          {
            "type": "url",
            "id": "text_url",
            "label": "Url"
          },
          {
            "type": "checkbox",
            "id": "show_social",
            "default": true,
            "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
            "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
          }
        ]
      }
    ]
  }
{% endschema %}