{{ 'section-review.css' |  asset_url |  stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }} custom-section">
  <div class="page-width color-{{ section.settings.color_scheme }}">
    <h2 class="review__heading">{{ section.settings.heading }}</h2>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "review_card" %}
          <div class="review__card-wrapper">
           <div class="review__card-header">
            <div class="review__card-name-and-star">
              <h1 class="review__card-user-name">{{ block.settings.name }}</h1>
              <div class="review__card-star-wrapper">
                {%  render 'icon-star' %}
                {%  render 'icon-star' %}
                {%  render 'icon-star' %}
                {%  render 'icon-star' %}
                {%  render 'icon-star' %}
              </div>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
        </div>
  </div>
</div>


{%  schema  %}
  {
    "name": "Section Review",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.multirow.settings.container_color_scheme.label",
        "default": "scheme-1"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "review_card",
        "name": "Review Card",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Name"
          },
          {
            "type": "text",
            "id": "review",
            "label": "Review",
            "default": "Lorem ipsum dolor sit amet consectetur. Aenean sit at amet id diam sit urna nunc vestibulum. Pellentesque tellus enim non neque elementum hendrerit nulla. Turpis faucibus egestas enim bibendum senectus. Donec amet tempor netus cursus. Morbi viverra sollicitudin sit enim id quam dui."
          }
        ]
      }
    ]
  }

{% endschema %} 